
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Got gold star ⭐, <a style="text-decoration: none;color:beige;" href="https://about.me/subhranshu">@SubhranshuChoudhury</a></p>
  </div>
</div>
</body>
</html>
